[user]
	name = shuangxijiang
	email = jiangsx@kingnet.com
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	last = log -1
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[gui]
	encoding = utf-8
[core]
	quotepath = false
[credential]
    helper = store --file $HOME/git-credentials/global.gitcredentials
	helper = store
